body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.formgroup{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
}
.heading{
    padding: 30px 0px 10px;
}
.para{
    margin: 10px 0px;
}
.coName{
    float: left;
    padding: 0px 107.5px;
    width: 50%;
    box-sizing: border-box;
    margin-top: 50px;
}
.profile-input{
    box-sizing: border-box;
    float: left;
    margin-left: 0;
    margin-top: 30px;
    padding: 0px -75px;
    padding-left: -7.5px;
    padding-right: -7.5px;
}
.span12, .span8{
    float: left;
    box-sizing: border-box;
    padding-left: 7.5px;
    padding-right: 7.5px;  
    width: 100%; 
    height: 50px;
    margin-left: -275px;
    margin-right: 275px;
    border-radius: 10px;
    border-color: darkgray;
}
#name{
    width: 300px;
}
div{
    display: block;
    unicode-bidi: isolate;
}
.initial-text{
    margin-left: 70px;
    margin-top: 30px;
}
.horizontal-group {
    display: flex;
    align-items: center;
    margin-right:100px;
}
.horizontal-group p {
    margin: 0 10px;
}
.horizontal-group input {
    margin: 0 5px;
}
